.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  background-color: var(--sidebar-color);
  color: white;
  padding: 1.5rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
}

.content {
  margin-left: 240px;
  padding: 2rem;
  width: calc(100% - 240px);
  background-color: #f7f7f7;
  overflow-y: auto;
}
