.dashboard {
  display: flex;
}

.sidebar {
  width: 240px;
  background-color: var(--sidebar-color);
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f5f7fa;
}
